<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>私有组件创建以及data的使用</title>
		<script src="js/vue.js"></script>
	</head>
	<body>
		
		<div id="app">
			
			<global-com></global-com>
			
			<login></login>
		</div>
		
		
		<!-- 在外部生命组件模板 -->
		<template id="logintmpl">
			
			<!-- 切记templdate只能有一个根标签 -->
			<div>
				
				<label>
					用户名：
					<input name="username" v-model="username" placeholder="请输入您的账号" />
					<br />
				</label>
				<label>
					密码:
					<input name="password" v-model="password" placeholder="请输入您的密码" />
				</label>
					
				<br />
				<input type="button" value="登录" @click="login"/>
				
			</div>
			
		</template>
		
		<script>
			
			//创建并注册全局组件
			Vue.component('globalCom', {
				template:'<h1>这是一个全局组件</h1>',
				data:function(){
					
					return {
						msg:'这是全局组件中的data-msg'
					}
				},
				methods:{
					
					//全局组件的方法
				},
				filters:{
					
					
				},
				directives:{
					
				},
				components:{
					
					//组件中的组件
				},
				beforeCreate:function(){
					
					alert('全局组件的声明周期函数：beforeCreate')
				},
				created:function(){
					alert('全剧组件中的生命周期函数：created...')
				}
			})
			
			var vm = new Vue({
				el: '#app',
				data:{
					
				},
				methods:{
					
				},
				filters:{
					
				},
				directives:{
					
				},
				components:{
					login:{
						template:'#logintmpl',
						data:function(){
							
							return {
								
								username: '',
								password:''
							}
						},
						methods:{
							
							login:function(){
								
								alert("用户名：" + this.username + 
								" 密码：" + this.password);
							}
						}
					}
				},
				beforeCreate:function(){
					
				},
				created:function(){
					
				},
				beforeMount:function(){
					
				},
				mounted:function(){
					
				},
				beforeUpdate:function(){
					
				},
				updated:function(){
					
				},
				beforeDestroy:function(){
					
				},
				destroyed:function(){
					
				}
			})
		</script>
	</body>
</html>
